In [1]:
import numpy as np
import pandas as pd

In [3]:
train_df = pd.read_csv('../../Data/train.csv')
test_df = pd.read_csv('../../Data/test.csv')

# data overview

In [25]:
print(train_df.shape)
train_df.head()

(7613, 5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [32]:
# target == 1 Case
train_df[train_df.target == 1]['text'].values[0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

In [33]:
# target == 0 Case
train_df[train_df.target == 0]['text'].values[0]

"What's up man?"

In [34]:
# training label distribution
train_df.groupby('target').count()

          id  keyword  location  text
target
0       4342     4323      2884  4342
1       3271     3229      2196  3271

# Text processing

## Naive text processing

Create features simply by token dictionary.

In [35]:
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [54]:
count_vec = feature_extraction.text.CountVectorizer()
# create token dictionry from training set and represent each text with the dictionary
train_vec = count_vec.fit_transform(train_df['text'])
# using the dictionary from train set to represent each text in test set
test_vec = count_vec.transform(test_df["text"])

In [56]:
print(train_vec.shape)
print(test_vec.shape)

(7613, 21637)
(3263, 21637)

In [61]:
ridge = linear_model.RidgeClassifier()
scores = model_selection.cross_val_score(ridge, train_vec, train_df['target'], cv = 3, scoring="f1")
scores

array([0.60387232, 0.57580105, 0.64485082])

In [62]:
ridge.fit(train_vec, train_df["target"])
pred_val = ridge.predict(test_vec)